h1{
    color: lightcoral;
}
.fruits-container li{
    color: tomato;
}
#fruits-title{
    color: black ;
}

.important-places{
    color:blueviolet;
}

.large-text{
font-size: 2em;
}
.text-center{
    /* background-color: yellow !important; */
    text-align: center;
    
}